@import 'leaflet/dist/leaflet.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap-icons/font/bootstrap-icons.css";

*:focus,
*:focus-visible,
*:focus-within {
    outline: none !important;
    box-shadow: none !important;
}

 #map {
  width: 100%;
  /* height: calc(100vh - 40px); */
  height: calc(100dvh - 40px);
}

 #device-support-log {
  font-size: 0.8em;
  overflow-y: auto;
 }

/* Outer circle */
.my-location {
  width: 32px;
  height: 32px;
  border: 3px dotted #4285f4;
  border-radius: 50%;
  /* background: white; */
  position: relative;
}

/* Direction arrow */
.my-location::after {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #4285f4;
  transform-origin: center bottom;
}